In [39]:
import os
import dask

In [56]:
import dask.dataframe as dd
properati = dd.read_csv('properati.csv')

In [58]:
properati = dd.read_csv(os.path.join('properati.csv'), dtype={'n': float , 'id': object , 'ad_type': object, 'start_date':object, 'end_date':object,
'created_on':object, 'lat':float, 'lon':float, 'l1':object, 'l2':object, 'l3':str, 'l4':str,
'l5':str, 'l6':str, 'rooms':float, 'bedrooms': float, 'bathrooms':float, 'surface_total':float,
'surface_covered':float, 'price':float, 'currency':object, 'property_type':object, 'operation_type':object})
properati

Dask DataFrame Structure:
              Unnamed: 0      id ad_type start_date end_date created_on      lat      lon      l1      l2      l3      l4      l5      l6    rooms bedrooms bathrooms surface_total surface_covered    price currency property_type operation_type
npartitions=1
                   int64  object  object     object   object     object  float64  float64  object  object  object  object  object  object  float64  float64   float64       float64         float64  float64   object        object         object
                     ...     ...     ...        ...      ...        ...      ...      ...     ...     ...     ...     ...     ...     ...      ...      ...       ...           ...             ...      ...      ...           ...            ...
Dask Name: read-csv, 1 tasks

In [59]:
properati.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,l6,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,property_type,operation_type
0,1,1qOI7X9aqAcO7PzjX1B29Q==,Propiedad,6/3/2021,8/27/2021,6/3/2021,NaN,NaN,Perú,Lima,...,NaN,NaN,4.0,5.0,NaN,NaN,450000.0,USD,Casa,Venta
1,9,et+l2Yo6FwVM/1MaD1taNw==,Propiedad,6/3/2021,8/6/2021,6/3/2021,NaN,NaN,Perú,Lima,...,NaN,NaN,3.0,2.0,NaN,NaN,116000.0,USD,Departamento,Venta
2,16,9P+0zyxGDUMoSn17cqz2rw==,Propiedad,6/3/2021,12/31/9999,6/3/2021,-12.087585,-77.040752,Perú,Lima,...,NaN,NaN,2.0,1.0,NaN,NaN,124000.0,USD,Departamento,Venta
3,17,Cj/y+x0Z3Rzav/eqXLOKgg==,Propiedad,6/3/2021,12/31/9999,6/3/2021,-12.090858,-77.038563,Perú,Lima,...,NaN,NaN,3.0,4.0,NaN,NaN,363900.0,USD,Departamento,Venta
4,18,zrqi0mZThIH1qQYXUBAXag==,Propiedad,6/3/2021,10/13/2021,6/3/2021,-12.083158,-77.045401,Perú,Lima,...,NaN,NaN,2.0,2.0,75.0,75.0,120000.0,USD,Departamento,Venta

In [52]:
properati.npartitions

1

In [28]:
properati.dtypes

n                    int64
id                  object
ad_type             object
start_date          object
end_date            object
created_on          object
lat                float64
lon                float64
l1                  object
l2                  object
l3                  object
l4                  object
l5                  object
l6                 float64
rooms              float64
bedrooms             int64
bathrooms          float64
surface_total      float64
surface_covered    float64
price                int64
currency            object
property_type       object
operation_type      object
dtype: object

In [49]:
#properati.head()

In [50]:
mean_properati = properati["price"].max()
mean_properati

dd.Scalar<series-..., dtype=float64>

In [13]:
#Por lo menos dos estadísticos descriptivos que vayan en línea con el tema y argumento. Explíquelos /Adriana

properati.mean

<bound method _Frame.mean of Dask DataFrame Structure:
              Unnamed: 0      id ad_type start_date end_date created_on      lat      lon      l1      l2      l3      l4      l5       l6    rooms bedrooms bathrooms surface_total surface_covered  price currency property_type operation_type
npartitions=1
                   int64  object  object     object   object     object  float64  float64  object  object  object  object  object  float64  float64    int64   float64       float64         float64  int64   object        object         object
                     ...     ...     ...        ...      ...        ...      ...      ...     ...     ...     ...     ...     ...      ...      ...      ...       ...           ...             ...    ...      ...           ...            ...
Dask Name: read-csv, 1 tasks>

In [12]:
properati.describe(split_every=False, percentiles=None, percentiles_method='default', include=None, exclude=None, datetime_is_numeric=False)

Dask DataFrame Structure:
              Unnamed: 0      lat      lon       l6    rooms bedrooms bathrooms surface_total surface_covered    price
npartitions=1
                 float64  float64  float64  float64  float64  float64   float64       float64         float64  float64
                     ...      ...      ...      ...      ...      ...       ...           ...             ...      ...
Dask Name: describe-numeric, 59 tasks

In [ ]:
#Por lo menos dos gráficos que vayan en línea con el tema y argumento. /Adriana